.banner {
  background-color: var(--pico-mark-background-color);
  /* background-color: var(--pico-secondary-background); */
  padding: 0.8rem;
  margin-bottom: 1rem;

  > .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.4rem;
    align-items: center;
    > button {
      flex-shrink: 0;
    }
  }
}

.nav-bar {
  a.title {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: auto;
    font-size: 1rem;
    font-weight: bold;
  }
}

.vc {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.hc {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: space-between;
}

.category-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.1rem 1rem;

  > .name {
    font-size: 1.4rem;
  }

  .amount.pos {
    &::before {
      content: '+';
    }
    color: green;
  }

  .amount.neg {
    &::before {
      content: '-';
    }
    color: red;
  }

  /*   > progress.-bad { */
  /*     --pico-progress-color: #b22222; */
  /*   } */
  /*  */
  /*   > progress.-good { */
  /*     --pico-progress-color: green; */
  /*   } */
}

nav {
  padding-left: 2rem;
  padding-right: 2rem;
}

.flex {
  display: flex;
  gap: 1rem;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

.title-button-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > .title {
    margin-bottom: 0;
  }

  > .buttons {
    display: flex;
    gap: 0.8rem;
  }
}
.categories-lists {
  padding-bottom: 1rem;

  > .titleholder {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .title {
      margin-bottom: 0;
    }

    > .buttons {
      display: flex;
      gap: 1rem;
    }
  }
  > .categoriesholder {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > div {
      width: 100%;
    }
  }
}

.transaction-dialog {
  .row {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    & select {
      margin-bottom: 0;
    }
  }
}
main.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.month-picker {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  padding-bottom: 1rem;

  > select {
    max-width: 10rem;
    margin-bottom: 0;
  }
  > button {
    flex-shrink: 0;
  }
}
.dialogtitle {
  font-size: 1.3rem;
}
.transactions-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.transactionsholder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transactionsempty {
  display: grid;
  place-content: center;
  min-height: 10rem;
}
.transaction-row {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: stretch;
  width: 100%;
  /* max-width: 50rem; */

  .row {
    display: flex;
    justify-content: space-between;
  }
  .row:nth-child(1) {
    font-size: 1.2rem;
  }
  .account {
    display: none;
  }
  .amount.pos {
    &::before {
      content: '+ ';
    }
    color: green;
  }

  .amount.neg {
    &::before {
      content: '- ';
    }
    color: red;
  }
  .categoryholder {
    display: flex;
    gap: 0.4rem;
    justify-content: start;
    align-items: center;

    .assign {
      --pico-border-radius: 0.6rem;
      --pico-form-element-spacing-vertical: 0.2rem;
      --pico-form-element-spacing-horizontal: 0.4rem;
    }
  }
}

.-gone {
  display: none;
}
@media (min-width: 768px) {
  .categories-lists > .categoriesholder {
    flex-direction: row;
  }
  .categories-lists > .categoriesholder > div {
    width: 50%;
  }

  .transaction-row > .row > .account {
    /* display: inline-block; */
    /* Disable for now */
    display: none;
  }
}

.flex-end {
  display: flex;
  justify-content: end;
}

.small-button {
  --pico-border-radius: 0.6rem;
  --pico-form-element-spacing-vertical: 0.3rem;
  --pico-form-element-spacing-horizontal: 0.5rem;
}

/* tabs START */
.tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-bottom: 2px solid #ccc;
}

.tab {
  padding: 0.5em 0;
  cursor: pointer;
  position: relative;
  max-width: 20ch;
  flex: 1 1 auto;
  text-align: center;
}

.tab.active::after {
  content: '';
  display: block;
  height: 4px;
  background: #e91e63;
  margin-top: 6px;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
}

.tab-content {
  padding: 1rem 0;
}

/* tabs END */
.category-type-title h4 {
  /* font-size: 2rem; */
  display: inline;
  margin: 0;
  padding: 0;
}

.summary-card {
  /* .rows { */
  /* 	display: flex; */
  /* 	flex-direction: column; */
  /* } */
  /* .row { */
  /* 	display: flex; */
  /* 	justify-content: space-b */
  /* } */
  max-width: 20rem;
  header {
    text-align: center;
  }

  input {
    max-width: 8rem;
    padding-bottom: 0;
  }
}
