.actions {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

input.width-auto {
  width: 12rem;
  /* display: inline-block; */
}
input.assigned-category-name {
  min-width: 12rem;
  /* display: inline-block; */
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
